/*This contains the styles for*/
/*MainCatView, MainCatCreate & MainCatCard components*/
.main-cat-upload-card {
    width: 300px;
    height: 250px;
    border: #5b7b85 2px dashed;
    border-radius: 10px;
}